*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ECDFCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 100;
    .searchContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            width: 50%;
            height: 50px;
            border-radius: 20px;
            font-size: 20px;
            padding: 10px;
            background-color: #2a2828;
            outline: none;
            border: none;
            color: white;
        }
    }
     h2{
        font-size:30px;
        cursor: pointer;
        color: black;
     }
      .Navigation ol{
          display: flex;
          flex-direction: row;
          list-style-type: none;
            li{
                position: relative;
                margin-left: 40px;
                cursor: pointer;
                font-size: 25px;
                font-weight: 500;
                a{
                    text-decoration:none;
                    color: black;
                    z-index: 100;
                }
            }
            .Cart{
                
                width: 35px;
                height: 35px;
            }
            .cartVal{
                position: absolute;
                color: white;
                top: 0;
                right: -8px;
                font-size: 12px;
                background-color: red;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                text-align: center;
            }
      }
}